<header class="w-full py-2 bg-bg-primary">
  <div class="container flex items-center ">

    <div class="flex-1"></div>

    <!-- CENTER LOGO -->
    <div class="flex justify-center">
      <div class="size-20 rounded-xl overflow-hidden md:size-28">
        <a [routerLink]="['']">
          <img alt="AEM Secrets Logo" aria-label="AEM Secrets Logo"  src="logo5.png" class="">
        </a>
      </div>
    </div>

    <!-- RIGHT BUTTON GROUP -->
    <div class="flex-1 flex justify-center gap-2 ">
      <div class="flex gap-2 justify-between items-center ">
        <button (click)="switchTheme('light')"><ng-icon name="matWbSunnyRound"      class=" text-xl  text-primary ml-2 hover:text-secondary "></ng-icon></button>
        <button (click)="switchTheme('middle')"><ng-icon name="matBrightness6Round"  class=" text-lg  text-primary ml-2 hover:text-secondary "></ng-icon></button>
        <button (click)="switchTheme('dark')"><ng-icon name="matBrightness2Round"  class=" text-lg  text-primary ml-2 hover:text-secondary "></ng-icon></button>
      </div>
      <div class="md:hidden ">
        <button (click)="this.showMobileMenu = !this.showMobileMenu;console.log('clicked toggle mobile menu');" >
          <ng-icon name="matMenuOpenRound" class="text-2xl text-secondary hover:text-secondary/50 hover:cursor-pointer transition-all"></ng-icon>
        </button>
      </div>
    </div>
  </div>
  <app-category-nav-bar *ngIf="showCategoryNavBar" [showMobileMenu]="this.showMobileMenu" (closeMobileMenu)="this.showMobileMenu=false"></app-category-nav-bar>
</header>
