<app-header-component [showCategoryNavBar]="true"></app-header-component>
<main>
    <section class=" bg-secondary flex flex-col justify-center items-center gap-2 px-10 py-20">
      <h2 class="text-backone font-medium text-xl uppercase text-center tracking-wider ">Featured Posts</h2>
      <h3 class="text-backone  text-center  tracking-wider mx-2 ">Lorem ipsum dolor sit amet consectetur adipiscing elit.</h3>
      <div class="grid grid-cols-2 gap-8 lg:flex lg:flex-row">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      </div>
    </section>
</main>
<app-footer-component></app-footer-component>
