<footer class="bg-backone pt-20">
  <div class="container flex flex-col justify-center items-center gap-1 pt-2.5 pb-3 font-medium">
    <div class="size-10 overflow-hidden ">
      <img src="logo_nobg.png" alt="AEM Secrets Logo" class=" w-full h-full object-center object-cover">
    </div>

    <ul class="flex flex-row justify-center items-center gap-4 w-full">
      <li><a [routerLink]="['about-us']"         class="uppercase text-primary hover:text-secondary transition-all">About</a></li>
      <li><div class="size-1 border border-primary bg-primary rounded-full"></div></li>
      <li><a [routerLink]="['terms-conditions']" class="uppercase text-primary hover:text-secondary transition-all">Terms & conditions</a></li>
      <li><div class="size-1 border border-primary bg-primary rounded-full"></div></li>
      <li><a [routerLink]="['terms-conditions']" class="uppercase text-primary hover:text-secondary transition-all">contact</a></li>
    </ul>

    <div class=" text-secondary ">
    <span>
      Copyright © 2025 AEM Secrets
    </span>
    </div>
  </div>
</footer>
