<router-outlet></router-outlet>
<!--
<div class="border absolute bottom-1/2 right-1/2 h-32"> </div>
<div class="absolute bottom-0 right-0 text-blue-700 bg-amber-300 font-medium flex flex-col gap-1">
  <h1 class=" sm:text-red-500">sm  640</h1>
  <h1 class=" md:text-red-500">md  768</h1>
  <h1 class=" lg:text-red-500">lg  1024</h1>
  <h1 class=" xl:text-red-500">xl  1280</h1>
  <h1 class=" 2xl:text-red-500">2xl 1536</h1>
  <h1 class=" bg-backone">backone</h1>
  <h1 class=" bg-primary">primary</h1>
  <h1 class=" bg-secondary">secondary</h1>
</div>
-->
