/* you can add global styles to this file, and also import other style files */
@import "tailwindcss";

@layer base {
  *[data-theme='light'] {
    --bg-primaryx: #faf3e5;
    --color-primaryx: #db6b18;
    --color-secondaryx: #412e1d;
  }

  *[data-theme='dark'] {
    --bg-primaryx: #3f2914;
    --color-primaryx: #fef5e7;
    --color-secondaryx: #db6b18;
  }

  *[data-theme='middle'] {
    --bg-primaryx: #dd6717;
    --color-primaryx: #412e1d;
    --color-secondaryx: #fef5e7;
  }

  button, .button {
    @apply rounded hover:cursor-pointer transition-all hover:scale-115 hover:-translate-y-0.5
  }

  .container{
    @apply container mx-auto  /* border border-blue-500 /**/
  }
}

@theme inline {
  --color-bg-primary: purple; /* remove */
  --color-backone: var(--bg-primaryx);
  --color-primary: var(--color-primaryx);
  --color-secondary: var(--color-secondaryx);
}

@layer components {
  .mobile-menu {
    @apply absolute inset-0 flex flex-col justify-around  items-center gap-2 bg-backone overflow-y-scroll font-medium text-2xl
  }
}

/* Google requires the badge to remain in the DOM; hide it because each form includes the required disclosure. */
.grecaptcha-badge {
  visibility: hidden;
}
